body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0;
    background-color: #f0f0f0;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.box{
    width: 100px;
    height: 100px;
    background-color: #4caf50;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

.rotate-scale{
    transform: rotate(-25deg) scale(1.2);
}

.rotate-scale:hover{
    transform: rotate(-50deg) scale(1.7);
}

.traslate-skew{
    transform: translate(-15px,-200px) skew(30deg,0deg);
}

.traslate-skew:hover{
    transform: translate(-150px,-20px) skew(0deg,30deg);
}

.matrix {
    transform: matrix(1, 0.5, -0.5, 1, 0, 0);
}
.matrix:hover {
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.blur-filter{
    filter: blur(2px);
}

.blur-filter:hover{
    filter: blur(0);
}

.gradient{
    background: linear-gradient(45deg,#f0223f,#1122f0);
}

.gradient:hover{
    background: linear-gradient(-45deg,#1122f0,#f0223f);
}

.shadow{
    box-shadow: 2px  4px 10px 0 rgba(10,10,10,.9);
}

.shadow:hover{
    box-shadow: 4px  8px 20px 0 rgba(255,10,10,.9);
}

.clip {
    clip-path: circle(50% at 50% 50%);
}
.clip:hover {
    clip-path: ellipse(75% 50% at 50% 50%);
}

.flex-grid{
    display: flex;
}

.flex-item{
    background-color: #ffC107;
    margin: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.perspective-3d{
    perspective: 500px;
}

.inner-box{
    width: 50px;
    height: 50px;
    background-color: #ff5722;
    transform: rotateY(45deg);
    transform-style: preserve-3d;
}

.perspective-3d:hover .inner-box{
    transform: rotateY(0deg);
}

@keyframes example-animation {
    0% {
        transform: translateX(0) scale(1);
        background-color: #4CAF50;
    }
    25% {
        transform: translateX(25px) scale(1.25);
        background-color: #FF9907;
    }
    50% {
        transform: translateX(50px) scale(1.5);
        background-color: #FFC107;
    }
    75% {
        transform: translateX(25px) scale(1.25);
        background-color: #aaAF50;
    }
    100% {
        transform: translateX(0) scale(1);
        background-color: #4CAF50;
    }
}

.animation:hover {
    animation: example-animation 2s infinite;
    transition: all 0.8s;
}