.image1 {
    background: url('/source/heximage.jpg') center no-repeat;
    background-size: cover;
}

.image2 {
    background: url('/source/heximage.jpg') center no-repeat;
    background-size: cover;
}

.hexagon {
    width: 200px; /* Ancho del hexágono */
    height: 200px; /* Alto del hexágono */
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: transform 0.5s ease-out;
}

.hexagon:hover {
    transform: scale(1.2);
}

.hexagon-content {
    position: absolute;
    color: rgb(202, 110, 18);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Espacio entre triángulos */
}

.triangle {
    width: 200px; /* Ancho de cada triángulo */
    height: 200px; /* Alto de cada triángulo */
    overflow: hidden;
    position: relative;
}

.triangle:hover {
    transform: scale(1.2);
}

.triangle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.triangle:nth-child(odd){
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    margin-right: -100px;
}

.triangle:nth-child(even) {
    clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
    margin-right: -100px;
}